<footer class="footer">
  <div class="footer__logo-box">
    <img class="footer__logo" alt="Full logo" src="img/logo.png">
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><a href="/about" class="footer__link">Company</a></li>
          <li class="footer__item"><a href="/contact" class="footer__link">Contact us</a></li>
          <li class="footer__item"><a href="/policy" class="footer__link">Privacy policy</a></li>
          <li class="footer__item"><a href="/sitemap" class="footer__link">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by the X-Men Cyclops group, is created as an assignment for Course COSC 3060 Web Programming Studio. It is intended solely for educational and testing purposes and should not be used for any other commercial or non-commercial purposes.
      </p>
    </div>
  </div>
</footer>
<script type="module" src="js/bundle.js"></script>