<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('_header') %>
  <link rel="stylesheet" href="css/about.css">
  <title><%= title %></title>
</head>

<body>
  <%- include('_navbar') %>
  <main class="about-container">
    <section class="mission-section">
      <h1>Our Mission</h1>
      <p>Our mission is to provide adventurous and exciting tours for people who love to explore the world. We aim to create unforgettable experiences and foster a community of like-minded travelers.</p>
    </section>
    <section class="team-section">
      <h2>Meet Our Team</h2>
      <div class="team-grid">
        <div class="card">
          <img src="/img/404649465_1178301696478968_3424973642290080881_n.jpg" alt="Portrait of Le Tuan Hung">
          <div class="card-content">
            <h3>Le Tuan Hung</h3>
            <p class="role">Team Leader - BackEnd Dev</p>
            <p>Coordinate team meetings and ensure effective communication.</p>
            <p>Oversee backend development tasks and ensure their completion according to specifications. </p>
          </div>
        </div>
        <div class="card">
          <img src="/img/414314776_718758350358433_2659278639411787439_n.jpg" alt="Portrait of Pham Quang Minh">
          <div class="card-content">
            <h3>Nguyen Quang Minh</h3>
            <p class="role">BackEnd Dev</p>
            <p>Develop backend functionalities and APIs required for the application. <br>Ensure data integrity, security, and performance of backend systems. <br> Collaborate with frontend developers to define API endpoints and data requirements.</p>
          </div>
        </div>
        <div class="card">
          <img src="/img/random-asain-woman-texted-me-out-of-the-blue-and-i-told-her-v0-ry48b910txjb1.jpg" alt="Portrait of Luong Thi Tra My">
          <div class="card-content">
            <h3>Luong Thi Tra My</h3>
            <p class="role">Report - Usability Test</p>
            <p>Assist in backend development tasks and contribute to database design and optimization. <br> Implement backend logic and algorithms as per project requirements. <br> Participate in code reviews and provide feedback on code quality and best practices. </p>
          </div>
        </div>
        <div class="card">
          <img src="/img/438154586_453021797378021_432764496917739832_n.jpg" alt="Portrait of Phan Tri Hung">
          <div class="card-content">
            <h3>Phan Tri Hung</h3>
            <p class="role">FrontEnd Dev</p>
            <p>Assist in frontend development tasks and contribute to the user interface design. <br>Make website responsive for various devices. <br>Collaborate with the frontend and backend teams to ensure seamless integration of components. <br>Conduct usability testing and gather feedback for iterative improvements. </p>
          </div>
        </div>
        <div class="card">
          <img src="/img/426545281_1900657590350661_1671803738137413075_n.jpg" alt="Portrait of Nguyen Ngoc Dung">
          <div class="card-content">
            <h3>Nguyen Ngoc Dung</h3>
            <p class="role">FrontEnd Dev</p>
            <p>Collaborate with the backend team to integrate frontend and backend functionalities. </p>
            <p>Ensure the user interface design aligns with project requirements and usability standards. </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('_footer') %>
  <script type="module" src="js/bundle.js"></script>

</body>

</html>