<!DOCTYPE html>
<html>
<head>
    <%- include('_header') %>
    <title><%= title %></title>
</head>
<body>
  <%- include('_navbar') %>
  <main class="main">
    <div class="forgot-password-form">
      <h2 class="heading-secondary ma-bt-lg">Forgot your password?</h2>
      <form class="form form--forgot-password">
        <div class="form__group">
          <label class="form__label" for="email">Email address</label>
          <input id="email" class="form__input" type="email" placeholder="you@example.com" name="email" required>
        </div>
        <div class="form__group">
          <button class="btn btn--green" type="submit">Send recovery Email!</button>
        </div>
      </form>
    </div>
  </main>
  <%- include('_footer') %>
  <script type="module" src="js/bundle.js"></script>
  
</body>
</html>