<!DOCTYPE html>
<html>
<head>
    <%- include('_header') %>
    <title><%= title %></title>
</head>
<body>
  <%- include('_navbar') %>
    <main class="main">
      <div class="user-view">
        <nav class="user-view__menu">
          <ul class="side-nav" aria-label="User navigation">
            <li class="side-nav--active"><a href="/me"><svg>
                <use xlink:href="img/icons.svg#icon-settings"></use>
              </svg>Settings</a></li>
            <li><a href="/my-tours"><svg>
                <use xlink:href="img/icons.svg#icon-briefcase"></use>
              </svg>My bookings</a></li>
            <li><a href="/my-reviews"><svg>
                <use xlink:href="img/icons.svg#icon-star"></use>
              </svg>My reviews</a></li>
            <li class="side-nav--active"><a href="/billing" aria-current="page"><svg>
                <use xlink:href="img/icons.svg#icon-credit-card"></use>
              </svg>Billing</a></li>
          </ul>
          <% if (user.role == "admin") { %>
          <div class="admin-nav">
            <h1 class="admin-nav__heading">Admin</h1>
            <ul class="side-nav" aria-label="Admin navigation">
              <li><a href="/manage-tours"><svg>
                  <use xlink:href="img/icons.svg#icon-map"></use>
                </svg>Manage tours</a></li>
              <li><a href="/manage-users"><svg>
                  <use xlink:href="img/icons.svg#icon-users"></use>
                </svg>Manage users</a></li>
              <li><a href="/manage-bookings"><svg>
                  <use xlink:href="img/icons.svg#icon-briefcase"></use>
                </svg>Manage bookings</a></li>
              <li><a href="/manage-reviews"><svg>
                  <use xlink:href="img/icons.svg#icon-star"></use>
                </svg>Manage reviews</a></li>
            </ul>
          </div>
          <% } %>
        </nav>

      <div class="user-view__content">
        <div class="user-view__form-container">
          <h2 class="heading-secondary ma-bt-md">Billing Information</h2>
          <form class="form form-user-data">
            <div class="form__group">
              <label class="form__label" for="name">Name</label>
              <input class="form__input" id="name" type="text" placeholder="Crowdspring Client" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="address1">Address 1</label>
              <input class="form__input" id="address1" type="text" placeholder="123 Creative Street" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="address2">Address 2</label>
              <input class="form__input" id="address2" type="text" placeholder="Suite 1200">
            </div>
            <div class="form__group">
              <label class="form__label" for="city">City</label>
              <input class="form__input" id="city" type="text" placeholder="Chicago" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="state">State</label>
              <input class="form__input" id="state" type="text" placeholder="IL" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="zip">ZIP / Postal Code</label>
              <input class="form__input" id="zip" type="text" placeholder="60606" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="country">Country</label>
              <input class="form__input" id="country" type="text" placeholder="United States" required>
            </div>
            <div class="form__group right">
              <button class="btn btn--green">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <nav class="mobile-nav-wrapper">
    <div class="mobile-nav">
      <% if (user.role == "admin") { %>
      <a href="/me"><svg>
          <use xlink:href="img/icons.svg#icon-settings"></use>
        </svg>Settings</a>
      <a href="/manage-tours"><svg>
          <use xlink:href="img/icons.svg#icon-map"></use>
        </svg>Tours</a>
      <a href="/manage-users"><svg>
          <use xlink:href="img/icons.svg#icon-users"></use>
        </svg>Users</a>
      <a href="/manage-bookings"><svg>
          <use xlink:href="img/icons.svg#icon-briefcase"></use>
        </svg>Bookings</a>
      <a href="/manage-reviews"><svg>
          <use xlink:href="img/icons.svg#icon-star"></use>
        </svg>Reviews</a>
      <% } else { %>
      <a href="/me"><svg>
          <use xlink:href="img/icons.svg#icon-settings"></use>
        </svg>Settings</a>
      <a href="/my-tours"><svg>
          <use xlink:href="img/icons.svg#icon-briefcase"></use>
        </svg>Bookings</a>
      <a href="/my-reviews"><svg>
          <use xlink:href="img/icons.svg#icon-star"></use>
        </svg>Reviews</a>
      <a href="/billing" aria-current="page"><svg>
          <use xlink:href="img/icons.svg#icon-credit-card"></use>
        </svg>Billing</a>
      <% } %>
    </div>
  </nav>
  <%- include('_footer') %>
  <script type="module" src="js/bundle.js"></script>

  
</body>
</html>