<!DOCTYPE html>
<html>

<head>
  <%- include('_header') %>
</head>

<body>
  <%- include('_navbar') %>

  <div id="mysitemapgenerator_loadcorsdata" data-token="1988e8d9b5cbb5067791741e79318a2f" data-domain="www.mysitemapgenerator.com"></div>
  <script src="https://cdn.mysitemapgenerator.com/api/embedmap.m.js"></script>

  <%- include('_footer') %>
  <script type="module" src="js/bundle.js"></script>

</body>

</html>